*, *:before, *:after {
	box-sizing: border-box;
}

form {
  display: block;
  width: 50%;
  font-size: 20px;
}

.name, .email {
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  width: 45%;
  margin-bottom: 20px;

}

.message {
  display: block;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  width: 100%;
  height: 400px;
}

.name {
  float: left;
}

.email {
  float: right;
}

.name, .email, .message {
  border: none;
  background: grey;
  opacity: .1;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.send {
  border: 4px solid grey;
  border-radius: 8px;
  padding: 20px;
  background: white;
  margin-top: 10px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(225, 225, 225, 1);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(225, 225, 225, 1);
}

:-ms-input-placeholder {
   color: rgba(225, 225, 225, 1);
}
